#text {
    font-family: 'PT Serif', serif;
    color: #ff00ac;
    display: inline-block
        
}

#differentlist {
    list-style-type: disc;
    font-family: 'Playfair Display', serif;
}

.small {
    color: chartreuse;
}

#list {
    display: inline-block;
    text-align: center;
    width: 20px;
    
}


/*FONTS FROM GOOGLE
/*font-family: 'Playfair Display', serif;
font-family: 'Arimo', sans-serif;
font-family: 'PT Serif', serif;
