body{
    background-color: black;
}



.header{
    height: 500px;
    width: 100%;
    background-color: red;
    top: 0;
    left: 0;
}

.hide{
    display: none;

}

.show{
    display: inherit;
}
