body {
    font-family:
}

#name {
    text-align: center;
    font-family: courier;
    text-decoration: underline;
}

section {
    display: inline-block;
    width: 28%;
    vertical-align: top;
    text-align: justify;
    padding: 0px 25px 0px 1px;
    font-size: 14px;
    font-family: 'Droid Sans Mono', monospace;
}

img {
    width: 43%;
}

.highlight {
    background-color: darkkhaki;
}
